@layer reset, variables, layout, paint, components, interactions, fallbacks;

@layer fallbacks {
	/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/anchor-name#browser_compatibility */
	@supports not (anchor-name: --anchor) {
		article.user {
			position: relative;

			& > section {
				inset: 40px 32px auto auto;
			}
		}
	}

	/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-block#browser_compatibility */
	@supports not (overflow-block: auto) {
		ul.base {
			overflow-y: auto;
		}
	}

	/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-inline#browser_compatibility */
	@supports not (overflow-inline: hidden) {
		article.anchor > a {
			overflow-x: hidden;
		}
	}
}

@layer interactions {
	a.button, button {
		touch-action: manipulation;

		&:where(:active, :hover) {
			background-color: var(--background-colour-hover, var(--background-colour, inherit));
		}
	}

	@media (hover: hover) and (pointer: fine) {
		article.anchor:not(:hover) > svg {
			display: none;
		}
	}
}

@layer components {
	a.button, button {
		min-inline-size: max-content;

		display: inline flex;
		gap: 4px;
		align-items: center;
		justify-content: center;
		padding: 4px 8px;

		background-color: var(--background-colour, inherit);
		border: var(--border, none);

		color: var(--colour, inherit);
		font-weight: 600;
		text-decoration-line: none;

		&:disabled {
			filter: saturate(0);
			pointer-events: none;
		}

		&[hidden] {
			display: none;
		}

		& > svg {
			color: var(--accent-colour, currentColor);
		}
	}

	article.anchor {
		max-inline-size: fit-content;

		container-type: normal;
		display: inline flex;
		gap: 4px;
		align-items: center;

		& > a {
			overflow-inline: hidden;

			color: inherit;
			font-weight: 600;
			text-decoration-line: none;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		& > svg {
			color: oklch(from currentColor l c h / 0.875);
		}
	}

	article.callout {
		display: grid;
		gap: 8px;
		grid:
			'header' 24px
			'content' auto;
		padding: 16px 16px;

		background-color: var(--background-colour, inherit);
		border: var(--border, none);
		color: var(--colour, inherit);

		& > header {
			display: flex;
			gap: 8px;
			align-items: center;

			& > h2 {
				font-size: 20px;
				font-weight: 800;
			}
		}

		& > p {
			font-size: 14px;
			font-weight: 600;
		}
	}

	article.user {
		anchor-name: --anchor;

		& > button {
			border-radius: 50%;
			padding: 4px 4px;

			& > img {
				block-size: 24px;
				inline-size: 24px;
				border-radius: 50%;
			}
		}

		& > section {
			inline-size: 20ch;

			position: absolute;
			position-anchor: --anchor;
			position-area: end span-start;

			background-color: var(--background-colour-base);
			border: 1px solid oklch(from var(--contrast-colour-base) l c h / 0.25);

			font-size: 14px;

			&:popover-open {
				display: flex;
				flex-direction: column;
				gap: 8px;
				padding: 8px 8px;
			}

			& > section.details {
				display: flex;
				gap: 8px;
				align-items: center;
				padding: 8px 8px;

				font-weight: 600;

				& > img {
					block-size: 24px;
					inline-size: 24px;
					border-radius: 50%;
				}
			}

			& > hr {
				color: oklch(from var(--contrast-colour-base) l c h / 0.25);
			}

			& ul.base > li > * {
				inline-size: 100cqi;
				padding: 8px 8px;
			}
		}
	}

	ul.base {
		overflow-block: auto;
		display: flex;
	}
}

@layer paint {
	html {
		background: var(--background-colour-base);
		color: var(--contrast-colour-base);
	}

	body > header {
		border-block-end: 1px solid oklch(from var(--contrast-colour-base) l c h / 0.25);
	}

	body > footer {
		border-block-start: 1px solid oklch(from var(--contrast-colour-base) l c h / 0.25);

		color: oklch(from currentColor l c h / 0.75);
		font-size: 12px;
		font-weight: 600;
	}

	.border {
		--border: 1px solid oklch(from currentColor l c h);
	}

	.ghost {
		--background-colour-hover: oklch(from currentColor l c h / 0.125);
	}

	.surface {
		--background-colour: oklch(from currentColor l c h / 0.125);
		--background-colour-hover: oklch(from currentColor l c h / 0.25);
	}

	.danger {
		--colour: var(--colour-red);
	}

	.safe {
		--colour: var(--colour-green);
	}
}

@layer layout {
	body {
		display: grid;
		gap: 32px;
		grid:
			'header' 48px
			'main' auto
			'footer' 32px;

		& > :where(header, main, footer) {
			padding-inline: 32px;
		}

		& > header {
			display: grid;
			grid: 'title user' / max-content 32px;
			align-items: center;
			justify-content: space-between;
		}

		& > footer {
			display: flex;
			gap: 8px;
			align-items: center;
			justify-content: center;
		}
	}
}

@layer variables {
	:root {
		--font-family-base: Inter, sans-serif;
		font-feature-settings: 'liga' 1, 'calt' 1;

		--background-colour-base: light-dark(var(--colour-white), var(--colour-black));
		--contrast-colour-base: light-dark(var(--colour-black), var(--colour-white));

		--brand-spotify: oklch(from #1ED760 l c h);

		--colour-black: oklch(from #121212 l c h);
		--colour-green: oklch(from #3BA55C l c h);
		--colour-red: oklch(from #ED4245 l c h);
		--colour-white: oklch(from #FFFFFF l c h);

		/* Typography scale */
		/* --font-size-xxs: 0.625rem; */
		--font-size-xs: 0.75rem;
		--font-size-s: 0.875rem;
		--font-size-m: 1rem;
		--font-size-l: 1.25rem;
		--font-size-xl: 1.5rem;
		--font-size-xxl: 2rem;
		/* --font-size-3xl: 2rem; */
		/* --font-size-4xl: 2.5rem; */

		/* Spacing scale */
		/* --spacing-xxs: 0.125rem; */
		--spacing-xs: 0.25rem;
		--spacing-s: 0.5rem;
		--spacing-m: 1rem;
		--spacing-l: 1.5rem;
		--spacing-xl: 2rem;
		--spacing-2xl: 2.5rem;
		--spacing-3xl: 3rem;
		--spacing-4xl: 4rem;
	}
}

@layer reset {
	*, *::before, *::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
		padding: 0;
		overscroll-behavior: none;

		scrollbar-gutter: stable both-edges;
		scrollbar-width: thin;
	}

	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;

		color-scheme: light dark;
		accent-color: var(--accent-colour-base, auto);

		font-family: var(--font-family-base, system-ui);
		line-height: var(--font-line-height-base, 1.5);
		interpolate-size: allow-keywords;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	body {
		min-block-size: 100dvh;
		-webkit-font-smoothing: antialiased;
	}

	header, footer, main,
	section, article {
		container-type: inline-size;
	}

	h1, h2, h3, h4, h5, h6,
	input, label, button {
		line-height: var(--font-line-height-heading, 1.2);
	}

	h1, h2, h3, h4, h5, h6,
	p, li, figcaption {
		overflow-wrap: break-word;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: inherit;
		text-wrap: balance;
	}

	p, li, figcaption {
		text-wrap: pretty;
	}

	code {
		font-family: var(--font-family-mono, monospace);
	}

	ul, ol, menu {
		list-style: none;
	}

	input, button, textarea, select {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
	}

	button:not(:disabled) {
		cursor: pointer;
	}

	img, picture, video, canvas, svg {
		min-inline-size: min-content;
		max-inline-size: 100%;
		display: block;
	}

	table {
		border-collapse: collapse;
	}

	td, math, time[datetime*=':'] {
		font-variant-numeric: tabular-nums lining-nums;
	}

	:target {
		scroll-margin-block: 3rlh;
	}
}
