@layer layout, paint, components;

@layer components {
	article.dialog {
		display: grid;
		gap: 24px;
		grid-template:
			'header' 32px
			'main' auto
			'footer' max-content;
		padding: 16px 16px;

		border: 1px solid oklch(from currentColor l c h / 0.25);

		& > header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			font-weight: 800;
		}
	}
}

@layer paint {
	.spotify {
		--colour: var(--brand-spotify);
	}
}

@layer layout {
	main {
		display: grid;
		grid-template: 'content' / 0.5fr;
		place-content: center center;
	}
}
