@layer layout, components, interactions, fallbacks;

@layer fallbacks {
	/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-block#browser_compatibility */
	@supports not (overflow-block: hidden) {
		x-list {
			overflow-y: hidden;
		}
	}

	/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-inline#browser_compatibility */
	@supports not (overflow-inline: hidden) {
		x-playlist > span.details {
			overflow-x: hidden;

			& > span {
				overflow-x: hidden;
			}
		}
	}
}

@layer interactions {
	@media (hover: hover) and (pointer: fine) {
		aside li:not(:hover) > x-playlist > menu {
			display: none;
		}

		x-playlist:hover {
			background-color: var(--background-colour-hover, var(--background-colour, inherit));
		}
	}
}

@layer components {
	x-list {
		max-block-size: 100%;
		overflow-block: hidden;

		display: flex;
		flex-direction: column;
		gap: 16px;

		& > header > h2 {
			font-size: 14px;
			text-transform: uppercase;
		}

		& > ul.base {
			flex-direction: column;
		}
	}

	x-playlist {
		display: flex;
		gap: 16px;
		align-items: center;
		padding: 16px 16px;

		&[data-supported='false'] {
			filter: saturate(0);
			pointer-events: none;

			& > menu {
				display: none;
			}
		}

		& > img {
			min-block-size: 48px;
			max-block-size: 48px;

			min-inline-size: 48px;
			max-inline-size: 48px;
		}

		& > span.details {
			overflow-inline: hidden;

			display: inline flex;
			flex: 1 1 fit-content;
			flex-direction: column;
			gap: 4px;

			& > article.anchor {
				font-size: 14px;
			}

			& > span {
				overflow-inline: hidden;

				color: oklch(from currentColor l c h / 0.75);
				font-size: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		& > menu {
			display: inline flex;

			section & button[data-action='REMOVE'] {
				display: none;
			}

			aside & button[data-action='ADD'] {
				display: none;
			}
		}
	}

	x-progress {
		container-type: normal;
		display: inline flex;
		flex-direction: column;
		gap: 4px;

		&[data-state='ERROR'] {
			--colour: var(--colour-red);
		}

		&[data-state='HIDDEN'] {
			visibility: hidden;
		}

		&[data-state='FINISHED'] {
			--colour: var(--colour-green);
		}

		& > header {
			display: flex;
			justify-content: space-between;

			font-size: 12px;
			font-weight: 800;
		}

		& > progress {
			max-block-size: 4px;

			appearance: none;
			background-color: var(--background-colour, inherit);
			border: none;

			&::-moz-progress-bar {
				background-color: var(--colour, currentColor);
			}

			&::-webkit-progress-value {
				background-color: var(--colour, currentColor);
			}
		}
	}
}

@layer layout {
	main {
		display: grid;
		gap: 48px;
		grid: 'content aside' / 1fr 0.67fr;

		& > :where(section, aside) {
			max-block-size: calc(100dvb - 48px - 2 * 32px);
		}

		& > aside {
			display: grid;
			gap: 16px;
			grid:
				'list' auto
				'footer' minmax(min-content, max-content);

			& > footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}

	@media (width <= 1024px) {
		main {
			grid:
				'content' calc((100dvb - 2 * 48px - 2 * 32px) / 2)
				'aside' calc((100dvb - 2 * 48px - 2 * 32px) / 2);

			&:has(> aside > x-list:state(empty)) {
				grid: 'content' auto;

				& > aside {
					display: none;
				}
			}
		}
	}
}
