@layer layout, components;

@layer components {
	article.list {
		max-block-size: 100%;
		overflow-block: hidden;

		/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-block#browser_compatibility */
		@supports not (overflow-block: hidden) {
			overflow-y: hidden;
		}

		display: flex;
		flex-direction: column;
		gap: 16px;

		& > header > h2 {
			text-transform: uppercase;
		}

		& > ul.base {
			flex-direction: column;
		}
	}

	x-playlist {
		display: flex;
		gap: 16px;
		align-items: center;
		padding: 16px 16px;

		&[data-supported='false'] {
			filter: saturate(0);
			pointer-events: none;
		}

		& > img {
			min-block-size: 48px;
			max-block-size: 48px;

			min-inline-size: 48px;
			max-inline-size: 48px;
		}

		& > span.details {
			overflow-inline: hidden;

			/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-inline#browser_compatibility */
			@supports not (overflow-inline: hidden) {
				overflow-x: hidden;
			}

			display: inline flex;
			flex: 1 1 fit-content;
			flex-direction: column;
			gap: 4px;

			& > article.anchor {
				font-size: 14px;
			}

			& > span {
				overflow-inline: hidden;

				/* [FUTURE] https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-inline#browser_compatibility */
				@supports not (overflow-inline: hidden) {
					overflow-x: hidden;
				}

				color: oklch(from currentColor l c h / 0.75);
				font-size: 12px;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		& > menu {
			display: inline flex;

			section & button[data-action='REMOVE'] {
				display: none;
			}

			aside & button[data-action='ADD'] {
				display: none;
			}
		}

		aside li:not(:hover) > & > menu {
			display: none;
		}
	}

	x-progress {
		container-type: normal;
		display: inline flex;
		flex-direction: column;
		gap: 4px;

		&[data-state='ERROR'] {
			--colour: var(--colour-red);
		}

		&[data-state='HIDDEN'] {
			visibility: hidden;
		}

		&[data-state='FINISHED'] {
			--colour: var(--colour-green);
		}

		& > header {
			display: flex;
			justify-content: space-between;

			font-size: 12px;
			font-weight: 800;
		}

		& > progress {
			max-block-size: 4px;

			appearance: none;
			background-color: var(--background-colour, inherit);
			border: none;

			&::-moz-progress-bar {
				background-color: var(--colour, currentColor);
			}
		}
	}
}

@layer layout {
	main {
		display: grid;
		gap: 48px;
		grid: 'content aside' / 1fr 0.67fr;

		& > :is(section, aside) {
			max-block-size: calc(100dvb - 48px - 2 * 32px);
		}

		& > aside {
			block-size: fit-content;

			display: grid;
			gap: 16px;
			grid:
				'list' auto
				'footer' fit-content;

			& > footer {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
}
